**/build
**/.idea
**/build-arm64
**/build-amd64
**/build-arm
**/build-debug
**/build-release
**/rglc.AppDir
**.deb
**/sysroot
**.AppImage
CMakeLists.txt.user
*.pb.cc
*.pb.h
CMakeUserPresets.json
software_info.hpp
ipc_chain.hpp
**/rglc_deb
**/garbage